.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.zoneDiv{
  border-radius: 13px;
  background: wheat;
  width: 184px;
  height: 95px;
}
.centeredText{
  padding-top: 30px;
  padding-bottom: 30px;
}
.mainContainer{
  margin-top: 2em;
}
